<div class="container">
  <div class="row">
      <div class="col 4">
        <div class="card" style="width: 18rem;">
          <%= image_tag @todo.photo, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= @todo.title %></h5>
            <p class="card-text">Creación: <%= time_ago_in_words(@todo.created_at) %></p>
          </div>
        </div>
      </div>

    <div class="col 4">
      <table class="table">
        <thead>
            <h2>Ranking: Los 5 primeros finalistas</h2>
          <tr>
            <th scope="col">Avatar</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <% @ranking5.each do |rank| %>
            <tr>
                <td><%= image_tag("https://cdn0.iconfinder.com/data/icons/faces-3/24/148-512.png", class: "avatar-img") %></td>
                <td><%= User.find_by(id: rank.user_id).name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col 4">
      <h2>Todos los finalistas</h2>
      <ul class="list-group">
        <% @users_todo_finish.each do |user| %>
        <li class="list-group-item"><%= User.find_by(id: user.user_id).name %> </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
